div#main-container{
    border: 2px solid gray;
    width:100%;
    height:300px;
}
div#upload-image-modal{
    width:500px;
    height: 200px;
    border:2px solid gray;
    margin:0 auto;
}
div#upload-image-title{
    color: gray;
    front-size:15px;
    border-bottom: 4px solid gray;
}
div.modal-content{
    margin: 10px;
    height: 80%;
    padding:10px;
}
